{% extends 'dummy.html' %}

{% block title %}
    <title>Reset password page</title>
{% endblock %}

{% block body_block %}
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="un">Username</label>
            <input type="text" name="un" id="un"><br><br>
            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="reset password">
        </form>
    </center>
{% endblock %}